In [1]:
import sqlite3
import pandas as pd

connection = sqlite3.connect('test_db.db')

In [2]:
test_df = pd.DataFrame({'col_1':[1, 2, 3]})

In [3]:
test_df

   col_1
0      1
1      2
2      3

In [4]:
test_df.to_sql('test_table', connection, index = False, if_exists='replace')

3

In [5]:
query = '''
    SELECT * FROM test_table
'''

In [6]:
pd.read_sql_query(query, connection)

   col_1
0      1
1      2
2      3